<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitnessapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessApp">
        <activity
            android:name=".noequipworkout.crosscrunches"
            android:parentActivityName=".NoEquipment"/>
        <activity
            android:name=".noequipworkout.shouldertaps"
            android:parentActivityName=".NoEquipment"/>
        <activity
            android:name=".noequipworkout.mountainclimber"
            android:parentActivityName=".NoEquipment"/>
        <activity
            android:name=".noequipworkout.divepushups"
            android:parentActivityName=".NoEquipment"/>
        <activity
            android:name=".noequipworkout.highknees"
            android:parentActivityName=".NoEquipment" />
        <activity
            android:name=".noequipworkout.jumpingjack"
            android:parentActivityName=".NoEquipment" />
        <activity
            android:name=".noequipworkout.burpees"
            android:parentActivityName=".NoEquipment" />
        <activity
            android:name=".noequipworkout.Supermanplanks"
            android:parentActivityName=".NoEquipment" />
        <activity android:name=".Day1"
            android:parentActivityName=".MainActivity2"/>
        <activity
            android:name=".noequipworkout.squat"
            android:parentActivityName=".NoEquipment" />
        <activity
            android:name=".Reminder"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".pushups"
            android:parentActivityName=".NoEquipment" />
        <activity
            android:name=".noequip1"
            android:parentActivityName=".NoEquipment" />
        <activity
            android:name=".NoEquipment"
            android:parentActivityName=".Workout" />
        <activity
            android:name=".PlayerActivity"
            android:parentActivityName=".Music" />
        <activity
            android:name=".Planner"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Workout"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Music"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity2"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.FitnessApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>